# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.SAMGestor.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

################################
# Build output / pacote
################################
bin/
obj/
artifacts/
*.dll
*.exe
*.pdb

################################
# IDEs
################################
# Rider / IntelliJ IDEA
.idea/
*.sln.ide
*.DotSettings.user

# VS / VSCode 
.vscode/
*.user
*.suo

################################
# Config locais
################################
appsettings.Development.json
*.env

################################
# Uploads (arquivos do usuário)
################################
# Ignora qualquer pasta 'wwwroot/uploads' em qualquer projeto
**/wwwroot/uploads/**

!**/wwwroot/uploads/.gitkeep


# Ignorar resultados de testes
TestResults/
**/TestResults/

# Ignorar arquivos de cobertura
coveragereport/*
**/coveragereport/*

# Mas incluir o summary.md
!coveragereport/Summary.md

# Ignorar arquivos temporários de IDEs
*.user
*.DotSettings.user

################################
# Outros temporários
################################
*.log
*.tmp
